body {
    overflow-y:hidden;
    margin:0;
    padding:0;
}
.column {
    float:left;
}
.column.left {
    position:absolute;
    width: 27%;
    height:120%;
    background-color:DarkSlateGray;
}
.column.middle {
    width: 52%;
    height:100%;
    background-color:white;
}
.column.right{
    width:45%;
    height:100%;
    background-color:white;
    font-size:100%;
}
.columns:after {
    content: "";
    display: table;
    clear: both;
}
.button {
    background-color: #66CC99; 
    border: 1px solid green;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width:28%;
}

.button:hover {
    background-color: #669999;
}
.contact{
    position:relative;
    color:white;
    padding-top:120%;
    padding-left:10%;
}
.photo{
    position:absolute;
    padding-top:50px;
    padding-left:220px;
    z-index:2;
}
.name{
    padding-top:120px;
    line-height:30%;
}
.contents{
    padding-right:20px;
    padding-left:0px;
    font-size:1.0em;
    color:#909090;
    width:90%;
    float:left;
}



#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

